@use '/src/styles/variables';

.button {
    padding: 12px;
    margin: 12px;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    white-space: nowrap;
    text-align: center;
    border-radius: 8px;
    opacity: 50%;
    transition: transform, .2s ease;

    :hover {
        transform: scale(1.0.5);
    }

    &--primary {
        color: variables.$textColor;
        background-image: linear-gradient(variables.$spect4, green);

    }

    @media (max-width: 640px) {
        display: block;
        align-items: center;
        width: 100%;
    }

    @media (max-width: 1024px) {
        display: block;
        text-align: center;
    }
}