@use '/src/styles/variables';

.infos-bar {
    background-image: linear-gradient(variables.$spect1, variables.$spect2);
    padding: 16px 24px;
    display: flex;
    justify-content: space-between;
    margin: 8px;
    border-radius: 10px;

    &__ul {
        opacity: 50%;
        cursor: pointer;
        display: flex;
        gap: 40px;

        &__li {
            font-size: 14px;
            color: variables.$secundaryTxt;

            b {
                color: variables.$secundaryTxt;
                font-size: 18px;
                display: block;
            }
        }:hover {
            color: white;
        }
    }:hover {
        opacity: 90%;
        transition: .7s ease;
    }

    @media (max-width: 640px) {
        display: block;

        &__ul {
            display: block;

            &__li {
                margin-bottom: 24px;
            }
        }
    }

    @media (max-width: 1024px) {
        &__infos {
            gap: 16px;
        }
    }
}